{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <style>
        legend {
            display: none;
        }
    </style>
    <div class="row py-4">
        <div class="card w-50 mx-auto">
            <div class="card-header">
                <h5 class=" float-left">Добавление правил налива дизеля для бензовоза</h5>
            </div>
            <div class="card-body">
                <form class="form form-horizontal" method="post" role="form">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}

                    {% for subfield in form.cell %}
                        {{ wtf.form_field(subfield) }}
                    {% endfor %}
                    <input type="submit" class="btn btn-success" value="Сохранить"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
ц