{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="content">
        <div class="container">
            <div class="row py-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class=" float-left">Конфиги для подключения к БД</h5>
                        <a class="btn btn-sm btn-outline-success my-2 my-sm-0 float-right"  href="/admin/add_db_config" >Добавить конфиг</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Номер АЗС</th>
                                <th>Система управления</th>
                                <th>База данных</th>
                                <th>IP-адрес</th>
                                <th>Порт</th>
                                <th>Логин</th>
                                <th>Пароль</th>
                                <th>Редактировать конфиг</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in config_list %}
                                <tr>
                                    <th scope="row">
                                        {% for x in azs_list %}
                                            {% if x.id == i.azs_id %}
                                                {{ x.number }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ i.system_type }}</td>
                                    <td>{{ i.database }}</td>
                                    <td>{{ i.ip_address }}</td>
                                    <td>{{ i.port }}</td>
                                    <td>{{ i.username }}</td>
                                    <td>{{ i.password }}</td>
                                    <td><a href="{{ url_for('admin.edit_db_config', azs_id=i.azs_id) }}">Редактировать</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}