{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="content">
        <div class="container">
            <div class="row py-4">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class=" float-left">Список приоритетов</h5>
                            <a class="btn btn-sm btn-outline-success my-2 my-sm-0 float-right"  href="/admin/priority/add" >Добавить приоритет</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Запас суток От</th>
                                                <th>Запас суток До</th>
                                                <th>Уровень приоритета</th>
                                                <th>Метод сортировки</th>
                                                <th>Редактировать</th>
                                                <th>Удалить</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in priority_list %}
                                                <tr>
                                                    <td>
                                                        {{ i.day_stock_from }}
                                                    </td>
                                                    <td> {{ i.day_stock_to }}</td>
                                                    <td>{{ i.priority }}</td>
                                                    <td>{{ i.sort_method }}</td>
                                                    <td><a href="{{ url_for('admin.edit_priority', id=i.id) }}">Редактировать</a></td>
                                                    <td><a href="{{ url_for('admin.delete_priority', id=i.id) }}">Удалить</a></td>
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}