{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="card">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Карточка</th>
        </tr>
        </thead>
        <tbody>
        {% for i in employees_list %}
        <tr>
            <td>{{ i.last_name + ' ' + i.first_name + ' ' + i.patronymic_name }}</td>
            <td>{{ i.position }}</td>
            <td> <a href="{{url_for('employee.employee_profile', id=i.id)}}" class="btn btn-sm btn-primary">Перейти</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}