{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row py-4 d-flex justify-content-center">
Глобальные настройки приложения
    </div>
    <div class="row">
        <div class="col-lg-2 py-4">
            <div class="col-md-9">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Основные</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Пользователи</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Журнал событий</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Выбор алгоритмов</a>
                </div>
            </div>
        </div>
        <div class="col-md-10 py-4">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    Основные настройки
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row py-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="float-left">Зарегистрированые пользователи</h5>
                            <a class="btn btn-sm btn-outline-success my-2 my-sm-0 float-right"  href="{{ url_for('admin.adduser') }}" >Добавить пользователя</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Логин</th>
                                                <th>Email</th>
                                                <th>Онлайн</th>
                                                <th>Роль</th>
                                                <th>Профиль</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in users_list %}
                                                <tr>
                                                    <th scope="row">{{ i.id }}</th>
                                                    <td>{{ i.username }}</td>
                                                    <td>{{ i.email }}</td>
                                                    <td>{{ i.last_seen }}</td>
                                                    <td>{{ i.role }}</td>
                                                    <td> <a href="{{url_for('main.user', username=i.username)}}" class="btn btn-sm btn-outline-primary my-2 my-sm-0">Перейти</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    Журнал событий
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    Настроки алгоритмов работы приложения
                </div>
            </div>
        </div>
    </div>
{% endblock %}
