{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
    <div class="container">
        <div class="row py-4">
            <div class="list-group">
                <a href="/admin/azslist" class="list-group-item list-group-item-action">Список АЗС</a>
                <a href="/admin/tanks" class="list-group-item list-group-item-action">Список резервуаров</a>

                <a href="/online" class="list-group-item list-group-item-action">Онлайн остатки</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Реализация</a>
                <a href="/admin/config_list" class="list-group-item list-group-item-action">Конфиги подключения к БД</a>
                <a href="/admin/users" class="list-group-item list-group-item-action">Пользователи</a>

            </div>
        </div>
    </div>

</div>
{% endblock %}