{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row py-4">
        <div class="card">
            <div class="card-header">
                <h5 class=" float-left">Список резервуаров</h5>
                <a class="btn btn-sm btn-outline-success my-2 my-sm-0 float-right"  href="/admin/addtank" >Добавить резервуар</a>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <table class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th>Номер АЗС</th>
                                <th>Номер резервуара</th>
                                <th>Вид топлива</th>
                                <th>Номинальный объем (л)</th>
                                <th>Действующий объем (л)</th>
                                <th>Скорректированный объем (л)</th>
                                <th>Мертвый остаток</th>
                                <th>Время слива (мин)</th>
                                <th>Время после слива (мин)</th>
                                <th>АИС</th>
                                <th>Смешение</th>
                                <th>Завозить топливо</th>
                                <th>Активен?</th>
                                <th>Редактировать</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in tank_list %}
                                <tr>
                                    <th scope="row">
                                        {% for x in azs_list %}
                                            {% if x.id == i.azs_id %}
                                                {{ x.number }}
                                            {% endif %}
                                        {% endfor %}
                                    </th>
                                    <td>{{ i.tank_number }}</td>
                                    <td>{{ i.fuel_type }}</td>
                                    <td>{{ i.nominal_capacity }}</td>
                                    <td>{{ i.real_capacity }}</td>
                                    <td>{{ i.corrected_capacity }}</td>
                                    <td>{{i.dead_capacity }}</td>
                                    <td>{{ i.drain_time }}</td>
                                    <td>{{ i.after_drain_time }}</td>

                                    <td>{% if i.ams == True %}
                                        Есть
                                    {% else %}
                                        Нет
                                    {% endif %}
                                    </td>

                                    <td>{% if i.mixing == True %}
                                        Разрешено
                                    {% else %}
                                        Запрещено
                                    {% endif %}
                                    </td>

                                    <td>{% if i.active == True %}
                                        Да
                                    {% else %}
                                        Нет
                                    {% endif %}
                                    </td>
                                    <td>{% if i.deactive == True %}
                                        Не активен
                                    {% else %}
                                        Активен
                                    {% endif %}
                                    </td>
                                    <td><a href="{{ url_for('admin.edit_tank', tank_id=i.id) }}">Редактировать</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}