{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
    <div class="container">
        <div class="row py-4">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>Список резервуаров</h4>
                            </div>
                            <div class="col-md-2">
                                <a href="/admin/trip/add" type="button" class="btn btn-primary btn-sm">Добавить новый</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <table id="example" class="table table-striped table-sm" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Номер АЗС</th>
                                            <th>Расстояние до АЗС</th>
                                            <th>Время до АЗС (до обеда)</th>
                                            <th>Время с АЗС (после обеда)</th>
                                            <th>Время до АЗС</th>
                                            <th>Время с АЗС</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in trip_list %}
                                        <tr>
                                            <th scope="row">
                                                {% for x in azs_list %}
                                                {% if x.id == i.azs_id %}
                                                {{ x.number }}
                                                {% endif %}
                                                {% endfor %}
                                            </th>
                                            <td>{{ i.distance }}</td>
                                            <td>{{ i.fuel_typ }}</td>
                                            <td>{{ i.nominal_capacity }}</td>
                                            <td>{{ i.real_capacity }}</td>
                                            <td>{{ i.corrected_capacity }}</td>
                                            <td>{{i.dead_capacity }}</td>
                                            <td>{{ i.drain_time }}</td>
                                            <td>{{ i.after_drain_time }}</td>
                                            <td>{{ i.ams }}</td>
                                            <td>{{ i.mixing }}</td>
                                            <td>{{ i.active }}</td>
                                            <td><a href="{{ url_for('admin.edit_tank', tank_id=i.id) }}">Редактировать</a></td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}