{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
    <div class="container">
        <div class="row py-4">
            <div class="card">
                <div class="card-body">

                    <div class="row py-4">
                        <div class="col col-lg-8">
                            <h3><b>Бензовоз с регистрационным номером {{ truck.reg_number }}</b></h3>
                            <hr>
                            <p>  Регистрационный номер трака: {{truck.reg_number}}</p>
                            <p>  Регистрационный номер прицепа: {{truck.trailer_reg_number}}</p>
                            <p>  Количество резервуаров: {{truck_tanks_count}}</p>
                            <p>  Максимальная снаряженная масса (с грузом, кг): {{truck.weight_limit}}</p>
                            <p>  Водитель: {{truck.driver}}</p>

                            {% for i in truck_tanks_list %}
                            <p>Резервуар {{ i.number }}: {{ i.capacity }}</p>
                            {% endfor %}
                            <hr>
                            <a href="{{ url_for('admin.truck_tanks_add', id=truck.id) }}">Добавить резервуар</a>
                            <a href="{{ url_for('admin.truck_edit', id=truck.id) }}">Редактировать ТС</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}