{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="row py-4">
        <div class="card w-50 mx-auto">
            <div class="card-header">
                <h5 class=" float-left">Бензовоз с регистрационным номером {{ truck.reg_number }}</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <tbody>
                    <tr>
                        <td> Регистрационный номер бензовоза: {{truck.reg_number}} </td>
                    </tr>
                    <tr>
                        <td>Регистрационный номер прицепа: {{truck.trailer_reg_number}}</td>
                    </tr>
                    <tr>
                        <td>Количество резервуаров: {{truck_tanks_count}}</td>
                    </tr>
                    <tr>
                        <td>Максимальная снаряженная масса (с грузом, кг): {{truck.weight_limit}}</td>
                    </tr>
                    <tr>
                        <td>Водитель: {{truck.driver}}</td>
                    </tr>
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <td><b>Порядковый номер</b></td>
                            <td><b>Объем</b></td>
                            <td><b>Дизель при </b></td>
                            <td><b>Редактировать</b></td>
                            <td><b>Удалить</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in truck_tanks_list %}
                            <tr>
                                <td>
                                    Резервуар №{{ i.number }}
                                </td>
                                <td>
                                    {{ i.capacity }} л.
                                </td>
                                <td>
                                    {% if i.diesel == True %}
                                        Разрешен
                                    {% else %}
                                        Запрещен
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.truck_tanks_edit', tank_id=i.id) }}">Редактировать</a>
                                </td>
                                <td>
                                    <a role="button" class="btn btn-sm btn-danger" href=" {{ url_for('admin.truck_tanks_delete', id=i.id, truck_id=i.truck_id) }}">Удалить</a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    </tbody>

            </div>
            <div class="card-footer">
                <a class="btn btn-sm btn-outline-primary my-2 my-sm-0 float-left"  href="{{ url_for('admin.truck_tanks_add', id=truck.id) }}">Добавить резервуар</a>
                <a class="btn btn-sm btn-outline-success my-2 my-sm-0 float-right"  href="{{ url_for('admin.truck_edit', id=truck.id) }}">Редактировать ТС</a>
            </div>
        </div>
    </div>
{% endblock %}