{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-5">
                <div class="card">
                    <h5 class="card-header">Расстановка бензовозов</h5>
                    <div class="card-body">
                        <a href="{{ url_for('main.start') }}" class="btn btn-outline-primary my-2 my-sm-0">Запуск скрипта</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 float-right">
                <div class="card">
                    <h5 class="card-header">Предупреждения</h5>
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            {% for i in azs_list %}
                                {% if i['day_stock'] < 1 %}
                                    <tr class="table-danger">
                                        <td>Запас суток резервуара №{{ i['tank'] }} на <a href="{{ url_for('main.page_azs', id=i['azs_id']) }}"> АЗС №{{ i['number'] }}</a> меньше {{ i['day_stock'] }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>Запас суток резервуара №{{ i['tank'] }} на <a href="{{ url_for('main.page_azs', id=i['azs_id']) }}"> АЗС №{{ i['number'] }}</a> меньше {{ i['day_stock'] }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-lg-5">
                <div class="card">
                    <h5 class="card-header">Текущая расстановка</h5>
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <tr class="table">
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 float-right">
                <div class="card">
                    <h5 class="card-header">Проблемы</h5>
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            {% if error_list %}
                                {% for error in error_list %}
                                    <tr class="table-danger">
                                        <td>{{ error }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="table-success">
                                    <td>Проблем нет</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}