{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Предупреждение</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Расстановка бензовозов на сегодня уже выполнена. Вы хотите её перезаписать?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <a href="{{ url_for('main.recreate_trip') }}" type="button" class="btn btn-success">Да</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-lg-5">
                <div class="card">
                    <h5 class="card-header">Расстановка бензовозов</h5>
                    <div class="card-body">
                        {% if trips_today %}
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                Начать расстановку
                            </button>
                        {% else %}
                            <a href="{{ url_for('main.trip_creation') }}" class="btn btn-outline-success my-2 my-sm-0">Начать
                                расстановку</a>
                        {% endif %}

                        <a href="{{ url_for('main.trip_creation') }}" class="btn btn-outline-primary my-2 my-sm-0">Просмотреть
                            расстановку</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 float-left">
                <div class="card">
                    <h5 class="card-header">Предупреждения</h5>
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            {% if azs_list %}
                                {% for i in azs_list %}
                                    {% if i['day_stock'] < 1 %}
                                        <tr class="table-danger">
                                            <td>Запас суток резервуара №{{ i['tank'] }} на <a
                                                    href="{{ url_for('main.page_azs', id=i['azs_id']) }}"> АЗС
                                                №{{ i['number'] }}</a> меньше {{ i['day_stock'] }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>Запас суток резервуара №{{ i['tank'] }} на <a
                                                    href="{{ url_for('main.page_azs', id=i['azs_id']) }}"> АЗС
                                                №{{ i['number'] }}</a> меньше {{ i['day_stock'] }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                            {% else %}
                                <tr class="table-success">
                                    <td>Предупреждений нет</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="row py-2">
            <div class="col-lg-7">

            </div>
        </div>

        <div class="col-lg-7 float-right">
            <div class="card">
                <h5 class="card-header">Проблемы</h5>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        {% if error_list %}
                            {% for error in error_list %}
                                <tr class="table-danger">
                                    <td>{{ error }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="table-success">
                                <td>Проблем нет</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}