{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row py-4">
        <div class="card w-50 mx-auto">
            <div class="card-header">
                <h5 class=" float-left">{{ 'Обновление остатков по АЗС № ' + azs_number + ', резервуар № ' + tank_number }}</h5>
            </div>
            <div class="card-body">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
