{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
    <div class="container">
        <div class="row py-4">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>Online остатки топлива</h4>
                            </div>
                            <div class="col-md-2">
                                <a href="/download_tanks_info" type="button" class="btn btn-info btn-sm">Обновить</a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Номер АЗС</th>
                                            <th>Номер резервуара</th>
                                            <th>Вид топлива</th>
                                            <th>Уровень</th>
                                            <th>Объем</th>
                                            <th>Температура</th>
                                            <th>Время замера</th>
                                            <th>Время выгрузки</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in online %}
                                        <tr>
                                            <th scope="row">{{ i.shop_id }}</th>
                                            <td>{{ i.tank_id}}</td>
                                            <td>{{ i.product_code }}</td>
                                            <td>{{ i.fuel_level }}</td>
                                            <td>{{ i.fuel_volume }}</td>
                                            <td>{{ i.fuel_temperature }}</td>
                                            <td>{{ i.datetime }}</td>
                                            <td>{{ i.download_time }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}