{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row py-4">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Список АЗС по приоритету отправки</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <table class="table table-sm table-hover">
                                    <thead>
                                    <tr>
                                        <th>Номер очереди</th>
                                        <th>Номер АЗС</th>
                                        <th>Номер резервуара</th>
                                        <th>Запас суток</th>
                                        <th>Средний запас суток по резервуарам</th>
                                        <th>Приоритет (табличный)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in priority %}
                                        <tr>
                                            <td>{{ i.priority }}</td>
                                            <th scope="row">
                                                {% for x in azs_list %}
                                                    {% if x.id == i.azs_id %}
                                                        <a href="{{ url_for('main.page_azs', id=x.id) }}">АЗС
                                                            № {{ x.number }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            <td>
                                                {% for z in tanks_list %}
                                                    {% if z.id == i.tank_id %}
                                                        {{ z.tank_number }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>{{ i.day_stock }}</td>
                                            <td>{{ i.average_for_azs }}</td>
                                            <td>{% for z in priority_list %}
                                                {% if z.id == i.table_priority %}
                                                    {{ z.priority }}
                                                {% endif %}
                                            {% endfor %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}