{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Расстановка рейсов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Схема налива бензовозов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Схема слива бензовозов</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {% if trips %}
                        <table data-toggle="table" class="table-sm"
                               id="table"
                               data-url="/trips.json"
                               data-click-to-select="true"
                               data-locale="ru-RU">
                            <thead>
                            <tr>
                                <th data-field="check" data-checkbox="true">#</th>
                                <th data-field="priority">#</th>
                                <th data-field="azs_number">Номер АЗС</th>
                                <th data-field="tank_number">Номер резервуара</th>
                                <th data-field="day_stock">Запас суток</th>
                                <th data-field="first_trip">Первый рейс</th>
                                <th data-field="second_trip">Второй рейс</th>
                                <th data-field="new_day_stock_first">Новый запас суток (1 рейс)</th>
                                <th data-field="new_day_stock_second">Новый запас суток (2 рейс)</th>
                                <th data-field="number_of_trucks">Количество бензовозов</th>
                                <th data-field="datetime">Время возвращения на нефтебазу</th>
                            </tr>
                            </thead>
                        </table>
                        <script>
                            $(function () {
                                $('#table').bootstrapTable()
                            })
                        </script>
                    {% else %}
                        Расстановка бензовозов на сегодня не выполнена. <br/>
                        Для выполнения расстановки бензовозов нажмите на кнопку "Начать расстановку"
                        <hr>
                        <a href="{{ url_for('main.start') }}" class="btn btn-outline-success my-2 my-sm-0">Начать
                            расстановку</a>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {% if trips %}
                        <div class="card">
                            <div class="card-header">
                                <h5 class=" float-left">Первый рейс</h5>
                            </div>
                            <div class="card-body">
                                <table data-toggle="table" class="table-sm"
                                       id="variant_naliva_first_trip"
                                       data-url="/trip/1/trip_naliv.json"
                                       data-click-to-select="true"
                                       data-locale="ru-RU">
                                    <thead>
                                    <tr>
                                        <th data-field="check" data-checkbox="true">#</th>
                                        <th data-field="azs_number">Номер АЗС</th>
                                        <th data-field="truck_number">Бензовоз</th>
                                        <th data-field="naliv_cell_1">Отсек №1</th>
                                        <th data-field="naliv_cell_2">Отсек №2</th>
                                        <th data-field="naliv_cell_3">Отсек №3</th>
                                        <th data-field="naliv_cell_4">Отсек №4</th>
                                        <!--   <th data-field="naliv_cell_5">Отсек №5</th>
                                         <th data-field="naliv_cell_6">Отсек №6</th> -->
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <script>
                                $(function () {
                                    $('#variant_naliva_first_trip').bootstrapTable()
                                })
                            </script>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class=" float-left">Второй рейс</h5>
                            </div>
                            <div class="card-body">
                                <table data-toggle="table" class="table-sm"
                                       id="variant_naliva_second_trip"
                                       data-url="/trip/2/trip_naliv.json"
                                       data-click-to-select="true"
                                       data-locale="ru-RU">
                                    <thead>
                                    <tr>
                                        <th data-field="check" data-checkbox="true">#</th>
                                        <th data-field="azs_number">Номер АЗС</th>
                                        <th data-field="truck_number">Бензовоз</th>
                                        <th data-field="naliv_cell_1">Отсек №1</th>
                                        <th data-field="naliv_cell_2">Отсек №2</th>
                                        <th data-field="naliv_cell_3">Отсек №3</th>
                                        <th data-field="naliv_cell_4">Отсек №4</th>
                                        <!-- <th data-field="naliv_cell_5">Отсек №5</th>
                                          <th data-field="naliv_cell_6">Отсек №6</th> -->
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <script>
                                $(function () {
                                    $('#variant_naliva_first_trip').bootstrapTable()
                                })
                            </script>
                        </div>
                    {% else %}
                        Расстановка бензовозов на сегодня не выполнена. <br/>
                        Для выполнения расстановки бензовозов нажмите на кнопку "Начать расстановку"
                        <hr>
                        <a href="{{ url_for('main.start') }}" class="btn btn-outline-success my-2 my-sm-0">Начать
                            расстановку</a>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    {% if trips %}
                        <div class="card">
                            <div class="card-header">
                                <h5 class=" float-left">Первый рейс</h5>
                            </div>
                            <div class="card-body">
                                <table data-toggle="table" class="table-sm"
                                       id="variant_naliva_first_trip"
                                       data-url="/trip/1/trip_naliv.json"
                                       data-click-to-select="true"
                                       data-locale="ru-RU">
                                    <thead>
                                    <tr>
                                        <th data-field="check" data-checkbox="true">#</th>
                                        <th data-field="azs_number">Номер АЗС</th>
                                        <th data-field="truck_number">Бензовоз</th>
                                        <th data-field="sliv_cell_1">Отсек №1</th>
                                        <th data-field="sliv_cell_2">Отсек №2</th>
                                        <th data-field="sliv_cell_3">Отсек №3</th>
                                        <th data-field="sliv_cell_4">Отсек №4</th>
                                        <!--   <th data-field="sliv_cell_5">Отсек №5</th>
                                           <th data-field="sliv_cell_6">Отсек №6</th>-->
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <script>
                                $(function () {
                                    $('#variant_naliva_first_trip').bootstrapTable()
                                })
                            </script>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class=" float-left">Второй рейс</h5>
                            </div>
                            <div class="card-body">
                                <table data-toggle="table" class="table-sm"
                                       id="variant_naliva_second_trip"
                                       data-url="/trip/2/trip_naliv.json"
                                       data-click-to-select="true"
                                       data-locale="ru-RU">
                                    <thead>
                                    <tr>
                                        <th data-field="check" data-checkbox="true">#</th>
                                        <th data-field="azs_number">Номер АЗС</th>
                                        <th data-field="truck_number">Бензовоз</th>
                                        <th data-field="sliv_cell_1">Отсек №1</th>
                                        <th data-field="sliv_cell_2">Отсек №2</th>
                                        <th data-field="sliv_cell_3">Отсек №3</th>
                                        <th data-field="sliv_cell_4">Отсек №4</th>
                                        <!--   <th data-field="sliv_cell_5">Отсек №5</th>
                                         <th data-field="sliv_cell_6">Отсек №6</th> -->
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <script>
                                $(function () {
                                    $('#variant_naliva_second_trip').bootstrapTable()
                                })
                            </script>
                        </div>
                    {% else %}
                        Расстановка бензовозов на сегодня не выполнена. <br/>
                        Для выполнения расстановки бензовозов нажмите на кнопку "Начать расстановку"
                        <hr>
                        <a href="{{ url_for('main.start') }}" class="btn btn-outline-success my-2 my-sm-0">Начать
                            расстановку</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
